@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 100%;
    background-color: rgb(204, 235, 255)
}

.pointer {
    cursor: pointer;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the header is on top */
    width: 100%;
    background: linear-gradient(to right, rgba(30, 101, 190, 1.0) 80%,rgba(255, 255, 255, 1.0) 100%);
    padding: 15px;
}

.main-content {
    width: 70%;
    margin: 0 auto; /* Center the content */
    padding-top: calc(var(--header-height) + 10px); /* Adjust 20px as needed for spacing */
    font-size: 1.2em;
}

.content-link {
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-data {
    width: 90%;
    margin: 0 auto; /* Center the content */
    padding-top: calc(var(--header-height) + 20px); /* Adjust 20px as needed for spacing */
}

/* Define a CSS variable to dynamically set the header height */
:root {
    --header-height: 70px; /* Default header height */
}

.logo-container {
    position: relative;
    display: inline-block; /* Ensures the container only takes up as much space as needed */
}

.main-logo-link {
    font-family: "Press Start 2P", system-ui;
    font-size: 2.5em;
    display: block;
    position: relative; /* Needed for positioning child elements */
    z-index: 1; /* Ensures this is on top */
    white-space: nowrap;
}

/* Ensure children inherit font size */
.main-logo-link * {
    font-size: inherit;
}

/* styles for info text */
.overlay-text {
    position: absolute;
    top: 50%; /* Center vertically relative to main logo */
    left: 50%; /* Center horizontally relative to main logo */
    transform: translate(210px, -40px) rotate(-35deg); /* Adjust positioning and tilt */
    font-size: 4em; /* Adjust size as needed to be responsive */
    color: yellow; /* Adjust color as needed */
    white-space: nowrap; /* Prevents text from wrapping */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    z-index: 1050; /* Ensure this is below the main logo text */
}

/* Styling for table - picture size etc.. */
.list-image {
    height: 75px;
    width: auto;
}

.list-image-carousel {
    height: 60px;
    width: auto;
}

.list-image-rewards {
    height: 120px;
    width: auto;
    margin: 5px;
}

.list-row {
    margin: 5px;
}

.imagefield-td {
    height: auto;
    width: 120px;
}

.event-picture {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

th {
    text-align: center; /* Centers the text in table headers */
}

/* Carousel settings */

.fa-chevron-right.fa-solid {
    font-size: 3em;
    margin-left: 90px;
}

.fa-chevron-left.fa-solid {
    font-size: 3em;
    margin-right: 90px;
}

#eventGroupCarousel {
    width: 60%;
    margin: 0 auto;
}

#eventSubGroupCarousel {
    width: 90%;
    margin: 0 auto;
}

.carousel-inner-group {
    width: 50%;
    margin: 0 auto;
}

.carousel-inner-subgroup {
    width: 90%;
    margin: 0 auto;
}

.group-carousel-picture {
    max-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
}

.subgroup-carousel-picture {
    max-width: 800px;
    padding-left: 15px;
    padding-right: 15px;
}

.list-image-carousel {
    height: 60px;
    width: auto;
}

#carColorCarousel {
    width: 100%;
    margin: 0 auto;
}

.car-carousel-inner {
    width: 80%;
    margin: 0 auto;
}

.not-available-cars {
    opacity: 0.5; /* Make the element semi-transparent */
    filter: grayscale(100%); /* Apply a grayscale filter to the element */
    pointer-events: none; /* Optionally prevent interaction */
}

@media (max-width: 2070px) {
    .carousel-inner-subgroup {
        min-height: 500px;
    }
}

@media (max-width: 1780px) {
    #eventGroupCarousel {
        width: 70%;
    }
    .carousel-inner-group {
        width: 60%;
    }
    .carousel-inner-subgroup {
        min-height: 450px;
    }
}

@media (max-width: 1649px) {
    .main-logo-link {
        font-size: 2em; /* Adjust font size as needed for smaller screens */
    }
    .overlay-text {
        font-size: 3em; /* Adjust overlay text size as needed for smaller screens */
        transform: translate(170px, -30px) rotate(-35deg); /* Adjust positioning and tilt */
    }
    #eventGroupCarousel {
        width: 75%;
    }
    .carousel-inner-group {
        width: 70%;
    }
}

@media (max-width: 1200px) {
    .group-carousel-image {
        margin-bottom: 25px;
    }
}

@media (max-width: 991px) {
    .top-data {
        padding-top: calc(var(--header-height) + 70px); /* Adjust 20px as needed for spacing */
    }
    .main-content {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .main-logo-link {
        font-size: 1.5em; /* Adjust font size as needed for smaller screens */
    }
    .overlay-text {
        font-size: 2.5em; /* Adjust overlay text size as needed for smaller screens */
        transform: translate(125px, -30px) rotate(-35deg); /* Adjust positioning and tilt */
    }
    .main-content {
        width: 98%;
    }
    .repair-time-price {
        display: none;
    }
    .min-max-pr {
        display: none;
    }
    .list-image {
        height: 50px;
        width: auto;
    }
    .list-row {
        font-size: 0.85em;
    }
    .fa-chevron-right.fa-solid {
        font-size: 2em;
        margin-left: 60px;
    }

    .fa-chevron-left.fa-solid {
        font-size: 2em;
        margin-right: 60px;
    }
    .list-image-rewards {
        height: 140px;
    }
}
