
.text-green {
    color: rgb(117,175,74) !important;
}

.text-red {
    color: red  !important;
}

.bg-blue {
    color: rgb(30, 101, 190) !important;
}

.text-blue {
    color: rgb(30, 101, 190) !important;
}

.text-white {
    color: white !important;
}

.text-gold {
    color: rgb(218, 145, 0) !important;
}