<div class="row">
    <div class="col-12 col-lg-5 my-auto py-1 py-lg-0 text-center text-lg-left logo-container">
      <a href="{% url 'core' %}" class="nav-link main-logo-link"><h2 class="my-0 text-white">Real Racing 3</h2></a>
      <div class="overlay-text">info</div>
    </div>
    <div class="col-12 col-lg-7 my-auto py-1 py-lg-0 text-center text-lg-left">

      <ul class="list-inline list-unstyled text-center text-lg-right my-0">

        {% if request.user.is_superuser %}
        <li class="list-inline-item dropdown">
            <button class="btn btn-secondary bg-white text-blue" id="properties" data-bs-toggle="dropdown" aria-expanded="false">
              Manager Options
            </button>
            <ul class="dropdown-menu" aria-labelledby="properties">
              <li><a class="dropdown-item" href="#">General Settings</a></li>
            </ul>
          </li>
        {% endif %}
    </ul>
</div>
